.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.landing {
  position: relative;
  background: url("./assets/landing.jpg") no-repeat center center/cover;
  height: 100vh;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.landing-inner {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-inner form {
  width: 30%;
}

.landing-inner h1,
.landing-inner h4,
.landing-inner p {
  color: white;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Post button */
.group-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.group-btn button,
.group-btn a {
  padding: unset;
}

.post-button {
  padding-top: 0;
  background: transparent;
  border: none;
}

.post-button:hover {
  background: transparent;
}

a.post-button.btn:focus,
a.post-button.btn:active {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

button.post-button.btn:focus,
button.post-button.btn:active {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

/* Floating add button */
.btn-floating {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background: transparent;
  border: none;
}

.btn-floating:hover {
  background: transparent;
}

.btn-floating:focus,
.btn-floating:active {
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

/* Add new post tooltip */
.tooltip {
  background: transparent;
}

.tooltip .arrow::before {
  border-left-color: #78c2ad;
}

.tooltip-inner {
  background: #78c2ad;
}

/* Post border thicker */
.border-success,
.border-warning,
.border-danger {
  border-width: 2px;
}

/* Post title */
.post-title {
  margin-bottom: 0.5rem;
}

/* Statistic box */
.small-box {
  border-radius: 0.5rem 2rem 0.5rem 2rem;
  display: block;
  margin-bottom: 20px;
  position: relative;
  box-shadow: rgb(50 50 93 / 31%) 0px 13px 27px -5px,
    rgb(0 0 0 / 68%) 0px 8px 16px -8px;
}

.small-box > .inner {
  padding: 20px;
}

.small-box h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 10px;
  padding: 0;
  white-space: nowrap;
  color: #fff;
}

.bg-info,
.bg-info > a {
  color: #fff !important;
}

.inner > p {
  margin-bottom: 0px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.statistic {
  margin-left: 15px;
  margin-top: 16px;
  padding: 5px 0;
}

.statistic-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.list-group > .list-group-item > button {
  float: right;
}

.list-group {
  font-weight: bold;
}

.completed-item {
  position: relative;
}
.completed-item::after {
  border-bottom: 0.2rem solid var(--warning);
  content: "";
  left: 0;
  line-height: 1em;
  position: absolute;
  right: 0;
  top: 50%;
}
